# .env file to set up your wordpress site

#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

#
# Database Container options
#
# [IMPORTANT] We recommend to always set a version when starting a new site.
# When migrating or restoring a backup you must know the running version 

# Database image (mariadb|mysql)
DB_IMAGE=mysql

# Database version
DB_VERSION=latest

# Root password for your database
MYSQL_ROOT_PASSWORD=root_password

# Database name, user and password for your wordpress
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=mysql_password

#
# Site Container options
#
# [IMPORTANT] We recommend to always set a version when starting a new site.
# When migrating or restoring a backup you must know the running version for
# theme and plugins compatibility.

# Site Image (wordpress)
SITE_IMAGE=wordpress

# Site Version
SITE_VERSION=5.4.2-php7.4-fpm-alpine

# Site container name
CONTAINER_SITE_NAME=site_name

# Max Log File Size
LOGGING_OPTIONS_MAX_SIZE=200k

# Table prefix
WORDPRESS_TABLE_PREFIX=wp_

# Your domain
DOMAIN=domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com
